@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: light --default, light --preferslight;
};


@theme {
  --color-cafeoscuro: #655846;
  --color-cafemedio: #D06B28;
  --color-verde: #818B3E;
  --color-amarillo: #F7CB67;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 1s ease-out;
}

@keyframes fade-white-to-verde {
  from {
    fill: white;
  }
  to {
    fill: #818B3E;
  }
}

.animate-fade-color {
  animation: fade-white-to-verde 0.8s ease-out forwards;
}

