@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: light --default, light --preferslight;
};


@theme {
  --color-cafeoscuro: #655846;
  --color-cafemedio: #D06B28;
  --color-verde: #818B3E;
  --color-amarillo: #F7CB67;
  --spacing-50: 200px;
  --spacing-90: 360px;
  --spacing-12\.5: 50px;
  --spacing-15\.5: 62px;
  --spacing-200: 800px;
  --spacing-30: 120px;
  --spacing-60: 240px;
  --spacing-22: 88px;
  --color-cafeclaro: #8B7355;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 1s ease-out;
}

@keyframes fade-white-to-verde {
  from {
    fill: white;
  }
  to {
    fill: #818B3E;
  }
}

.animate-fade-color {
  animation: fade-white-to-verde 0.8s ease-out forwards;
}

