---
import "@/styles/global.css";
import "@fontsource-variable/geologica";
import Banner from "@/components/Banner.astro";
import Navbar from "@/components/Navbar.astro";
import { ClientRouter } from 'astro:transitions';
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma de apoyo y recursos para defensores medioambientales en América Latina." />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ayuda Defensores - {title} - Ciudadanía Inteligente</title>
    <ClientRouter />
  </head>
  <body class="overflow-x-hidden antialiased">
    <Banner />
    <Navbar />
    <slot />
  </body>
</html>

<style>
html,
body {
  font-family: 'Geologica Variable', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}
</style>
